:root {
  --primary:#ff6b6b;
  --graylight: #efefef; 
  --graydark:#2d3436; 
  --font-family:"Montserrat", sans-serif; 
  --text-color:#444; 
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%); 
  --box-shadow-nav: rgba(92, 15, 15, 0.22) 0 2px 18px 0px; 
}